<a href="https://colab.research.google.com/github/Rohit1Chougule/Business-Analytics-with-Excel/blob/main/Python_Basics_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [ ]:
# What is your name! print your name!
# Only use one print function

print('What is your name! print your name!')

What is your name! print your name!

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [ ]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh = 7
z = 6
rohan = 5
longitude = 4

In [ ]:
# print required variable
# output - 5
print(rohan)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [ ]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
age = 21
weight = 50.6
first_name = 'Mukesh'
last_name = "Manral"

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [ ]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(age))
print(type(weight))
print(type(first_name))
print(type(last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(age,weight,first_name, last_name)

21 50.6 Mukesh Manral

In [ ]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'

# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name
first_name = 'Mukesh'
last_name = 'Mukesh'
TrueOrFalse = last_name == first_name
TrueOrFalse

True

In [ ]:
# define a variable name "x" and assign value 777 and print it
x = 777
x

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [ ]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string
x = 7
y = 77
z = 77.7
zz = 'Hi'

# **`Arithmetic Operators`**

In [ ]:
# add x and z
print(x + z)

84.7

In [ ]:
# subtract z and y
print(z-y)

0.7000000000000028

In [ ]:
# Multiply x and z
print(x*z)

543.9

In [ ]:
# Exponent (raise the power or times) x times z
print(z**x)

17098071607986.627

In [ ]:
# division on x and z
print(x/z)

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [ ]:
# floor division(ignores decimal) on x and z (gives quotient)
print(x//z)

0.0

In [ ]:
# Modulo(gives remainder) on x and z
print(x%z)

7.0

# **`Comparison Operators`**

In [ ]:
# comapre and see if x is less then z
# can use '<' symbol

print(x<z)

True

In [ ]:
# check the type of above comaprison where it says comapre and see if x is less then z
print(type(x<z))

<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [ ]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
print(x<=z)

True

In [ ]:
# comapre and see if x equall to z
# can use '==' symbol
print(x==z)

False

In [ ]:
# comapre and see if x is greater than z
# can use '>' symbol
print(x>z)

False

In [ ]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
print(x>=z)

False

In [ ]:
# comapre and see if x is Not equall to z
# can use '!=' symbol

print(x!=z)

True

# **`Logical Operators`**

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True

print(108==108 and 21==21)

True

In [ ]:
# how above condition can give False as output show all those conditions
print(108!=108 and 21!=21)

False

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True

(108 == 108) or (21 == 11)

True

In [ ]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [ ]:
# make variable with value as : money 100000

# see output of money > 2000
money = 100000
if money > 2000:
    print(True)

True

In [ ]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working
money = 10000
print(f'money:{money}, you have this much ammount in your account')

if money >1000:
  print('data science course is free')
else:
    print('you have less money then 1000 in your account then will work for now only if is working')

money:10000, you have this much ammount in your account
data science course is free

In [ ]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

In [ ]:
test_score = 80
if test_score >= 80:
    print('A grade')
elif test_score > 60 and test_score < 80:
    print('B grade')
else:
    print('Nothing for you')

A grade

# **`Python Loops`**

In [ ]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [ ]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print 'I love sports' 10 times using for loop
str= 'I love sports'
for i in range(10):
  print(str)

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [ ]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [ ]:
# while loop

# save 0 in variable number

# print till 10 using while loop

n=0
while n<10:
  print(n)
  n+=1

0
1
2
3
4
5
6
7
8
9

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [ ]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5
for i in range(10):
  print(i)
  if i == 5:
    break

0
1
2
3
4
5

# **`Continue Statement`**

In [ ]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5

for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

# **`String Manipulation`**

In [ ]:
string_ = '' or "" or """ """

In [ ]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"

string1 = "We are creating next generation data science eco-system at CollegeRanker"

In [ ]:
# Find length of string including spaces

len(string1)

72

In [ ]:
# Access characters in a string with indexing i.e string[0]
string1[0]

'W'

In [ ]:
# Access characters with negative indexing i.e string[-1]
string1[-1]

'r'

# String Slicing

In [ ]:
# select string from first to 6th element i.e string[:6]

string1[:6]

'We are'

In [ ]:
# select string from 7th to negative 10th element i.e string[7:-10]

string1[7:-10]

'creating next generation data science eco-system at Col'

Count of a particular `character` in a string

In [ ]:

print(string1.count('next'))
print(string1.count('c'))

1
4

Count of a particular `sub-string` in a string

In [ ]:
sub = 'a'
string1.count(sub)

7

Find a substring in string using `find` and `index` function

In [ ]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error
string1 = "We are creating next generation data science eco-system at CollegeRanker"
sub = 'data'
string1.find(sub)

32

In [ ]:
sub = '1234'
string1.find(sub)

-1

In [ ]:
string1 = "We are creating next generation data science eco-system at CollegeRanker"
sub = 'data'
string1.index(sub)

32

In [ ]:
sub = '1234'
string1.index(sub)

ValueError: substring not found

In [ ]:
### Checking whether string `startswith` or `endswith` a particular substring or not

string1 = "We are creating next generation data science eco-system at CollegeRanker"
sub = 'W'

string1.startswith(sub)

True

In [ ]:
string1 = "We are creating next generation data science eco-system at CollegeRanker"
sub = 'CollegeRanker'

string1.endswith(sub)

True

In [ ]:
sub = 'CollegeRanke'

string1.endswith(sub)

False

In [ ]:
### Converting string to upper case ###

string1.upper()

'WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER'

In [ ]:
### Converting only first character of string to upper case

string1.capitalize()

'We are creating next generation data science eco-system at collegeranker'

In [ ]:
### Checking if string is in lower case or upper case
string1 ='we are creating next generation data science eco-system at collegeranker'
print(string1.islower() or print(string1.isupper()))

True

In [ ]:
### Checking if string is digit, alpabetic, alpha-numeric

string1 = '123'
print(string1.isdigit())
print(string1.isalpha())
print(string1.isalnum())

True
False
True

In [ ]:
# assign "C++ is easy to learn" to a new_str variable

new_str = 'C++ is easy to learn'

In [ ]:
### Replace C++ with Python

new_str.replace('C++','Python')

'Python is easy to learn'

In [ ]:
### Use Split function on new_str ###

new_str.split()

['C++', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [ ]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [ ]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'

def welcome_message(name):
  print('Welcome to Functions !!!', name)

In [ ]:
# call a function with your name

welcome_message('Rohit')

Welcome to Functions !!! Rohit

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [ ]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable

def add(a,b):
  total= a+b
  print(total)

In [ ]:
add(3,4)

7

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [ ]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number
def substraction_function(small_number,large_number):
  difference = large_number - small_number
  return difference

In [ ]:
# pass arguments in right order
substraction_function(10,20)

10

In [ ]:
substraction_function(20,10)

-10

In [ ]:
# always pass arguments using there name(keyword arguments) then order does not matter

substraction_function(large_number=20,small_number=10)

10

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [ ]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [ ]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function

`END OF ASSIGNMENT`