<a href="https://colab.research.google.com/github/Rohit1Chougule/Business-Analytics-with-Excel/blob/main/Python_Data_Structure_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`
* `str` | `int` | `float`
* `Bool`| `byte` | `Frozenset`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a=[]

In [ ]:
# print the value of a
print(a)

[]

In [ ]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
languages = ['R','Python','SAS','Scala','42']

Print the number of elements in the list

In [ ]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [ ]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp = languages[1]

Print the value of temp and type(temp)

In [ ]:

print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [ ]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [ ]:
languages.remove('42')
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [ ]:
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [ ]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors.extend(colors2)

Print len of colors and its elements

In [ ]:
print(len(colors),colors)

7 ['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [ ]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [ ]:
sent = 'Coronaviruss Caused Lockdowns Around THe World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
words = sent.split()
print(words)

['Coronaviruss', 'Caused', 'Lockdowns', 'Around', 'THe', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [ ]:

words_lower = [word.lower() for word in words]
print(words_lower)

['coronaviruss', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [ ]:
is_country = 'country' in words_lower
print(is_country)

False

Remove the element ‘the’ from the list and print the list.

In [ ]:
words_lower.remove('the')
print(words_lower)

['coronaviruss', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
x4 = words_lower[:4]

In [ ]:
# print x4
print (x4)

['coronaviruss', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
x4_str = ' '.join(x4)
print(x4_str)

coronaviruss caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [ ]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
print(stud_grades_set)

{'C', 'A', 'F', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
print(type(stud_grades),stud_grades)
print(type(stud_grades_set),stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'C', 'A', 'F', 'B'}

Add a new element ‘G’ to stud_grades_set

In [ ]:
stud_grades_set.add('G')
print(stud_grades_set)

{'C', 'A', 'B', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [ ]:
stud_grades_set.add('F')
print(stud_grades_set)

{'C', 'A', 'B', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [ ]:
stud_grades_set.remove('F')
print(stud_grades_set)

{'C', 'A', 'B', 'G'}

Print the elements and the length of stud_grades_set

In [ ]:
print(stud_grades_set)
print(len(stud_grades_set))

{'C', 'A', 'B', 'G'}
4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [ ]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [ ]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'orange', 'blue'}
{'apples', 'orange', 'grapes'}

Find the union of both the sets.

In [ ]:
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [ ]:

colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:

fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [ ]:
temp = [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [ ]:
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [ ]:
temp[0] = 11

Set temp1 = tuple(temp)

In [ ]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:
temp1 = list(temp1)
temp1[0] = 17
temp1 = tuple(temp1)
temp1

(17, 'Virat', 50.0)

### Create city = ("Bangalore", 28.9949521, 72)

In [ ]:
city = ("Bangalore",28.9949521, 72)

Print first element of city

In [ ]:
city[(0)]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [ ]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [ ]:
cities = (city,city2)

Print cities

In [ ]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
type(cities[0])

tuple

print the type of cities

In [ ]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [ ]:
print(d["list"][0])

23

Store the value of d[‘actor’] to a new variable actor.

In [ ]:
actor = d["actor"]

Print the type of actor

In [ ]:
type(actor)

str

Store the value of d[‘list’] in new variable List.

In [ ]:
List = d["list"]

Print the type of List.

In [ ]:
type(List)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [ ]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [ ]:
d.update(d1)

print d

In [ ]:
print (d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

---

In [ ]:
for keys, values in d.items():
  print(keys,'--->',values)

actor ---> amir
animal ---> cat
earth ---> 2
list ---> [23, 32, 12]
singer ---> Kr$na
album ---> Still here
genre ---> hip-hop

[link text](https://)count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:

sent = 'Coronaviruss Caused Lockdowns Around THe World.'

char_count = {}

for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 4, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'H': 1, 'W': 1, 'l': 1, '.': 1}

In [ ]:
#end of assignment